body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.top{
    background-color: #1f2937;
}

.top .logo{
    font-size: 24px;
    color: #f9faf8;
}

.top .links{
    font-size: 18px;
    color: #e5e7eb;
}

.top .header{
    display: flex;
    justify-content: space-between;
    padding: 10px 200px 100px 200px;
}

.left-items, .right-items{
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.top .header .main{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.header .text{
    font-size: 18px;
    color: #e5e7eb;
}

.top button{
    color:#e5e7eb;
    background-color: #3882f6;
    width: 100px;
    border-style: none;
    border-radius: .5em;
    padding: 5px 0 5px 0;
}

.header .image{
    height: 200px;
    width: 800px;
    background-color: gray;
}

.pictures{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 20px;
}

.pictures .items{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pictures img{
    height: 150px;
    width: 150px;
    border: solid;
    border-width: 3px;
    border-color: blue;
    border-radius: 25%;
}

.pictures .container{
    display: flex;
    gap: 50px;
}

.pictures .header{
    font-size: large;
    padding: 0px 0px 20px 0px;
}

.quote{
    background-color: #e5e7eb;
    color:#1f2937;
    padding: 100px 300px 100px 300px;
}

.quote .text{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote .written-by{
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: bold;
}

.sign-up{
    background-color: white;
}

.sign-up .container{
    margin: 100px 200px 100px 200px;
    padding: 50px 100px 50px 100px;
    border-radius: .5em;
    background-color: #3882f6;
    align-self: center;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-up .row-one{
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}

.sign-up .row-two{
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up button{
    background-color: #3882f6;
    border-color: white;
    color: #f9faf8;
    font-weight: bold;
    border-radius: .5em;
    padding: 10px 30px 10px 30px;
    border-style: solid;
    font-size: 18px;
}

.footer{
    justify-content: center;
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    padding: 16px 0 16px 0;
    color: #f9faf8;
}